body {
    display: flex;
    padding: 96px;
    justify-content: center;
    align-items: center;
}

.main-frame {
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1400px;
    width: 700px;
    border: 2px solid burlywood;
    padding: 8px;
}

.display-frame {
    display: flex;
    background-color: aliceblue;
    padding: 8px;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    height: 15%;
    width: 90%;
    border: 2px solid burlywood;
}

.buttons-frame {
    display: flex;
    background-color: aliceblue;
    margin-top: 24px;
    padding: 8px;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    height: 70%;
    width: 90%;
    border: 2px solid burlywood;
}